@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .bg-darkBackground {
  background-color: #121212;
}

.dark .text-darkText {
  color: #eaeaea;
}

.dark .bg-darkSurface {
  background-color: #1e1e1e;
}


/* Light (300) */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/Rajdhani-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Regular (400) */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
